<div
  class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
  <!-- Header -->
  <div class="relative flex flex-col flex-0 sm:justify-between py-3 px-3 border-b">
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div class="flex flex-row justify-between w-full items-center md:mt-4 sm:mt-0">
      <!-- Title -->
      <div
        class="hidden sm:flex text-3xl p-3 font-extrabold"
        [ngClass]="{
          'text-blue-400 z-60': advancedFilter
        }"
      >
        {{ 'Suppliers' | transloco }}
      </div>
      <!-- Actions -->
      <div class="flex flex-shrink-0 items-center p-3">
        <div class="">
          <!-- Search -->
          <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full">
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input
              matInput
              [(ngModel)]="searchFilter"
              (ngModelChange)="updateSearch()"
              [autocomplete]="'off'"
              placeholder="{{ 'Search' | transloco }}"
            />
          </mat-form-field>
        </div>
        <div class="ml-2 h-10">
          <!-- Add project button -->
          <button
            [color]="advancedFilter ? null : 'accent'"
            mat-raised-button
            (click)="advancedFilter = !advancedFilter"
            matTooltip="Advanced filter"
          >
            <mat-icon
              class="icon-size-5"
              [svgIcon]="'heroicons_outline:chevron-down'"
              *ngIf="!advancedFilter"
            ></mat-icon>
            <mat-icon
              class="icon-size-5"
              [svgIcon]="'heroicons_outline:chevron-up'"
              *ngIf="advancedFilter"
            ></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col w-full items-center rounded rounded-md bg-advanced-filter -mt-16"
      *ngIf="advancedFilter"
    >
      <div class="p-3 w-full h-16"></div>
      <div class="grid sm:grid-cols-6 gap-6 p-3 w-full">
        <div class="sm:col-span-2">
          <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
            <mat-label class="capitalize text-white">{{ 'country' | transloco }}</mat-label>
            <mat-select
              name="country"
              placeholder="select icon"
              [(ngModel)]="country"
              (selectionChange)="refreshGovernorates()"
            >
              <mat-select-trigger>
                <div class="font-medium items-center flex flex-row" *ngIf="country">
                  <span class="hidden sm:block"> {{ country.countryName }} </span>
                </div>
              </mat-select-trigger>

              <mat-select-filter
                [placeholder]="'Filter'"
                [showSpinner]="true"
                [displayMember]="'countryName'"
                [array]="listCountries"
                (filteredReturn)="filteredListCountries = $event"
              ></mat-select-filter>
              <mat-option [value]="null" *ngIf="country">
                <div class="font-medium items-center flex flex-row">
                  <span class="hidden sm:block"> {{ '-- None --' | transloco }} </span>
                </div>
              </mat-option>
              <mat-option *ngFor="let item of filteredListCountries" [value]="item">
                <div class="font-medium items-center flex flex-row">
                  <span class="hidden sm:block"> {{ item.countryName }} </span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="sm:col-span-2">
          <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
            <mat-label class="capitalize text-white">{{ 'governorate' | transloco }}</mat-label>
            <mat-select
              name="governorate"
              placeholder="select icon"
              [(ngModel)]="governorate"
              [disabled]="!country"
              (selectionChange)="refreshMunicipalities()"
            >
              <mat-select-trigger>
                <div class="font-medium items-center flex flex-row" *ngIf="governorate">
                  <span class="hidden sm:block"> {{ governorate.governorateName }} </span>
                </div>
              </mat-select-trigger>

              <mat-select-filter
                [placeholder]="'Filter'"
                [showSpinner]="true"
                [displayMember]="'governorateName'"
                [array]="listGovernorates"
                (filteredReturn)="filteredListGovernorates = $event"
              ></mat-select-filter>
              <mat-option [value]="null" *ngIf="governorate">
                <div class="font-medium items-center flex flex-row">
                  <span class="hidden sm:block"> {{ '-- None --' | transloco }} </span>
                </div>
              </mat-option>
              <mat-option *ngFor="let item of filteredListGovernorates" [value]="item">
                <div class="font-medium items-center flex flex-row">
                  <span class="hidden sm:block"> {{ item.governorateName }} </span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="sm:col-span-2">
          <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
            <mat-label class="capitalize text-white">{{ 'municipality' | transloco }}</mat-label>
            <mat-select
              name="municipality"
              placeholder="select icon"
              [(ngModel)]="municipality"
              [disabled]="!governorate"
            >
              <mat-select-trigger>
                <div class="font-medium items-center flex flex-row" *ngIf="municipality">
                  <span class="hidden sm:block"> {{ municipality.municipalityName }} </span>
                </div>
              </mat-select-trigger>

              <mat-select-filter
                [placeholder]="'Filter'"
                [showSpinner]="true"
                [displayMember]="'municipalityName'"
                [array]="listMunicipalities"
                (filteredReturn)="filteredListMunicipalities = $event"
              ></mat-select-filter>
              <mat-option [value]="null" *ngIf="municipality">
                <div class="font-medium items-center flex flex-row">
                  <span class="hidden sm:block"> {{ '-- None --' | transloco }} </span>
                </div>
              </mat-option>
              <mat-option *ngFor="let item of filteredListMunicipalities" [value]="item">
                <div class="font-medium items-center flex flex-row">
                  <span class="hidden sm:block"> {{ item.municipalityName }} </span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="grid sm:grid-cols-6 gap-6 p-3 w-full">
        <div class="sm:col-span-2">
          <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
            <mat-label class="capitalize text-white">{{ 'type company' | transloco }}</mat-label>
            <mat-select name="typeCompany" placeholder="select icon" [(ngModel)]="typeCompany">
              <mat-select-trigger>
                <div class="font-medium items-center flex flex-row" *ngIf="typeCompany">
                  <span class="hidden sm:block"> {{ typeCompany }} </span>
                </div>
              </mat-select-trigger>

              <mat-option [value]="null" *ngIf="typeCompany">
                <div class="font-medium items-center flex flex-row">
                  <span class="hidden sm:block"> {{ '-- None --' | transloco }} </span>
                </div>
              </mat-option>
              <mat-option *ngFor="let item of listTypeCompany" [value]="item.key">
                <div class="font-medium items-center flex flex-row">
                  <span class="hidden sm:block"> {{ item.value }} </span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="w-full flex justify-end p-3">
        <button [color]="'warn'" mat-flat-button (click)="getList()">
          <mat-icon svgIcon="filter_list"></mat-icon>
          <span class="capitalize ml-2">{{ 'filter' | transloco }}</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden rounded rounded-md m-3 border-2">
    <!-- projects list -->
    <div class="flex flex-col flex-auto sm:mb-18">
      <ng-container>
        <ng-container *ngIf="displayedList?.data?.length > 0; else noCompanies">
          <!-- Header -->

          <div
            class="company-grid bg-advanced-filter grid z-10 top-0 shadow items-center gap-4 py-4 px-4 md:px-6 text-md font-semibold text-white dark:bg-black dark:bg-opacity-5"
          >
            <div class="flex">
              <span class="capitalize">{{ 'N°' | transloco }}</span>
            </div>
            <div class="flex">
              <span class="capitalize">{{ 'type' | transloco }}</span>
            </div>
            <div class="flex">
              <span class="capitalize">{{ 'name' | transloco }}</span>
            </div>
            <div class="hidden md:flex">
              <span class="capitalize">{{ 'address' | transloco }}</span>
            </div>
            <div class="flex">
              <span class="capitalize">{{ 'email' | transloco }}</span>
            </div>
            <div class="flex">
              <span class="capitalize">{{ 'phone' | transloco }}</span>
            </div>
            <div class="hidden sm:flex justify-center">
              <span class=""></span>
            </div>
          </div>
          <div class="flex-1 overflow-hidden sm:overflow-y-auto">
            <div class="flex-1 sm:grid sm:flex-0">
              <!-- Rows -->
              <ng-container>
                <ng-container
                  *ngFor="let company of displayedList?.data; let index = index; let odd = odd"
                >
                  <div
                    class="company-grid grid items-center gap-4 py-4 px-4 md:px-6 border-b"
                    (click)="isScreenSmall ? openShow(company) : null"
                    [ngClass]="{
                      'bg-gray-50': odd
                    }"
                  >
                    <div class="truncate">{{ index + 1 }}</div>
                    <div class="truncate">{{ company.type }}</div>
                    <div class="truncate">{{ company.name }}</div>
                    <div class="hidden md:flex truncate">
                      <span class="truncate">
                        {{ company.address }}, {{ company.municipalityId?.municipalityName }},
                        {{ company.governorateId?.governorateName }},
                        {{ company.countryId?.countryName }}
                      </span>
                    </div>
                    <div class="truncate">
                      <span *ngIf="company.email">{{ company.email }}</span>
                    </div>
                    <div class="truncate">
                      <span *ngIf="company.phone">{{ company.phone }}</span>
                    </div>
                    <div class="hidden sm:flex">
                      <button class="mr-4" mat-icon-button [matMenuTriggerFor]="budgetMenu">
                        <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:dots-vertical'"
                        ></mat-icon>
                      </button>
                      <mat-menu #budgetMenu="matMenu">
                        <button
                          mat-menu-item
                          class="flex justify-between"
                          (click)="openShow(company)"
                        >
                          <span class="ml-2 mr-1 hidden sm:block">{{ 'Show' | transloco }}</span>
                          <mat-icon [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>

          <mat-paginator
            class="sm:absolute text-white bg-advanced-filter mx-3 mb-3 sm:inset-x-0 sm:bottom-0 border-b rounded-b-md sm:border-t sm:border-b-0 z-10 dark:bg-transparent"
            [showFirstLastButtons]="true"
            (page)="pageChanged($event)"
            showFirstLastButtons
            [length]="displayedList?.total"
            [pageSize]="currentSize"
            [pageSizeOptions]="[5, 10, 20, 50, 100]"
          ></mat-paginator>
        </ng-container>
      </ng-container>

      <ng-template #noCompanies>
        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
          {{ (isLoading ? 'Loading...' : 'There are no elements !') | transloco }}
        </div>
      </ng-template>
    </div>
  </div>
</div>
