.company-grid {
  grid-template-columns:10px 50px 150px 150px 70px;

  @screen sm {
    grid-template-columns:20px 100px 150px auto 170px 50px;
  }

  @screen md {
    grid-template-columns:30px 50px 150px auto 160px 160px 50px;
  }

  @screen lg {
    grid-template-columns:40px 100px 300px auto 300px 200px 50px;
  }
}
