<div class="flex flex-col flex-1 bg-card dark:bg-transparent" *ngIf="company">
  <form class="w-full" #myForm="ngForm" ngForm="ngForm">
    <!-- Header -->
    <div class="relative flex flex-col flex-0 sm:justify-between py-3 px-3 border-b">
      <!-- Loader -->
      <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
      <!-- Title -->
      <div class="hidden md:flex text-3xl font-extrabold tracking-tight">
        {{ 'Company' | transloco }}
      </div>
      <!-- Actions -->
      <div class="flex flex-shrink-0 w-full items-center md:mt-3 sm:mt-0">
        <div class="w-3/4 sm:w-2/3 flex flex-row"></div>
        <div class="flex justify-end w-1/4 sm:w-1/3 ml-1 sm:ml-0">
          <!-- save project button -->
          <button
            class="mr-2"
            mat-flat-button
            [color]="'primary'"
            type="submit"
            (click)="editCompany()"
          >
            <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
            <span class="ml-2 mr-1">{{ 'Edit' | transloco }}</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Main -->
    <div class="flex flex-1 flex-col flex-auto overflow-hidden sm:overflow-y-auto">
      <div class="flex flex-col mb-6 w-full">
        <!-- Logo -->
        <div class="flex justify-center my-4">
          <div class="relative w-40 h-40" *ngIf="company?.logo">
            <img
              id="img2"
              class="w-full h-full rounded-full avatar"
              [src]="urlLogo + company.logo"
              alt="User avatar"
            />
          </div>
          <ng-container *ngIf="!company?.logo">
            <div
              class="flex items-center justify-center w-40 h-40 rounded-full text-8xl uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
            >
              {{ company?.name?.charAt(0) }}
            </div>
          </ng-container>
        </div>
        <!-- line 1 -->
        <div class="grid sm:grid-cols-6 gap-6 p-3">
          <!-- name -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <mat-label class="capitalize">{{ 'name' | transloco }}</mat-label>
              <input [(ngModel)]="company.name" matInput name="name" type="text" disabled />
            </mat-form-field>
          </div>
          <!-- email -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <mat-label class="capitalize">{{ 'email' | transloco }}</mat-label>
              <input [(ngModel)]="company.email" matInput name="email" type="email" disabled />
            </mat-form-field>
          </div>
          <!-- phone number 1 -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <mat-label class="capitalize">{{ 'phone number' | transloco }}</mat-label>
              <input [(ngModel)]="company.phone" matInput name="phone" type="text" disabled />
            </mat-form-field>
          </div>
        </div>
        <!-- line 2 -->
        <div class="grid sm:grid-cols-6 gap-6 p-3">
          <!-- country -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <mat-label class="capitalize">{{ 'country' | transloco }}</mat-label>
              <mat-select [(ngModel)]="company.countryId" name="countryId" disabled>
                <mat-select-trigger>
                  <div class="font-medium items-center flex flex-row" *ngIf="company?.countryId">
                    <span>
                      {{ company?.countryId?.countryName }}
                    </span>
                  </div>
                </mat-select-trigger>
                <mat-option [value]="company.countryId" disabled>
                  <div class="font-medium items-center flex flex-row">
                    <span class="hidden sm:block"> {{ company?.countryId?.countryName }}</span>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- governorate  -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <mat-label class="capitalize">{{ 'governorate' | transloco }}</mat-label>
              <mat-select
                placeholder="please select a country before"
                [(ngModel)]="company.governorateId"
                name="governorateName"
                disabled
              >
                <mat-select-trigger>
                  <div class="font-medium items-center flex flex-row">
                    <span>
                      {{ company.governorateId?.governorateName }}
                    </span>
                  </div>
                </mat-select-trigger>
                <mat-option [value]="company.governorateId" disabled>
                  <div class="font-medium items-center flex flex-row">
                    <span class="hidden sm:block">
                      {{ company.governorateId?.governorateName }}</span
                    >
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- municipality  -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <mat-label class="capitalize">{{ 'municipality' | transloco }}</mat-label>
              <mat-select
                placeholder="please select a governorate before"
                [(ngModel)]="company.municipalityId"
                name="municipalityName"
                disabled
              >
                <mat-select-trigger>
                  <div class="font-medium items-center flex flex-row">
                    <span>
                      {{ company.municipalityId?.municipalityName }}
                    </span>
                  </div>
                </mat-select-trigger>
                <mat-option [value]="company.municipalityId" disabled>
                  <div class="font-medium items-center flex flex-row">
                    <span class="hidden sm:block">
                      {{ company.municipalityId?.municipalityName }}</span
                    >
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- line 4 -->
        <div class="grid sm:grid-cols-6 gap-6 p-3">
          <!-- address -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <mat-label class="capitalize">{{ 'address' | transloco }}</mat-label>
              <input [(ngModel)]="company.address" matInput name="address" type="text" disabled />
            </mat-form-field>
          </div>
          <!-- postal code -->
          <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <mat-label class="capitalize">{{ 'postal code' | transloco }}</mat-label>
              <input
                [(ngModel)]="company.postalCode"
                matInput
                name="postal-code"
                type="text"
                disabled
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
