<div class="flex flex-col flex-1 bg-card dark:bg-transparent" *ngIf="country">
  <form class="w-full" #myForm="ngForm" ngForm="ngForm">
    <!-- Header -->
    <div class="relative flex flex-col flex-0 sm:justify-between py-3 px-3 border-b">
      <!-- Loader -->
      <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
      <!-- Title -->
      <div class="hidden md:flex text-3xl font-extrabold tracking-tight">
        {{ 'Countries' | transloco }}
      </div>
      <!-- Actions -->
      <div class="flex flex-shrink-0 w-full items-center md:mt-3 sm:mt-0">
        <div class="w-3/4 sm:w-2/3 flex flex-row">
          <!-- clear project button -->
          <button
            class="mr-2 text-red-500"
            mat-flat-button
            (click)="deleteCountry()"
            *appFeatures="[
              {
                code: featureCodes.countries,
                actions: [featureActions.delete]
              }
            ]"
          >
            <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
            <span class="ml-2 mr-1">{{ 'Delete' | transloco }}</span>
          </button>
        </div>
        <div class="flex justify-end w-1/4 sm:w-1/3 ml-1 sm:ml-0">
          <!-- cancel project button -->
          <button
            class="mr-2 bg-gray-100"
            mat-flat-button
            (click)="addCountry()"
            *appFeatures="[
              {
                code: featureCodes.countries,
                actions: [featureActions.create]
              }
            ]"
          >
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">{{ 'Add' | transloco }}</span>
          </button>
          <!-- save project button -->
          <button
            class="mr-2"
            mat-flat-button
            [color]="'primary'"
            type="submit"
            (click)="editCountry()"
            *appFeatures="[
              {
                code: featureCodes.countries,
                actions: [featureActions.update]
              }
            ]"
          >
            <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
            <span class="ml-2 mr-1">{{ 'Edit' | transloco }}</span>
          </button>
        </div>
      </div>
    </div>
    <!-- Main -->
    <div class="flex flex-1 flex-col flex-auto overflow-hidden sm:overflow-y-auto">
      <ng-container *ngIf="!isLoading; else waiting">
        <div class="flex flex-col mb-6 w-full">
          <div class="grid sm:grid-cols-11 gap-6 p-3">
            <!-- code -->
            <div class="sm:col-span-5">
              <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                <mat-label class="capitalize">{{ 'code' | transloco }}</mat-label>
                <input [(ngModel)]="country.code" matInput name="code" type="text" disabled />
              </mat-form-field>
            </div>
            <!-- label -->
            <div class="sm:col-span-5">
              <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                <mat-label class="capitalize">{{ 'Country' | transloco }}</mat-label>
                <input
                  [(ngModel)]="country.countryName"
                  matInput
                  name="country"
                  type="text"
                  disabled
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="flex flex-1 flex-col flex-auto overflow-hidden sm:overflow-y-auto">
          <div class="flex flex-col mb-6 w-full bg-gray-100">
            <div class="flex text-2xl font-extrabold tracking-tight ml-4 capitalize"></div>
            <div class="grid grid-cols-1 min-w-full gap-1 min-w-full">
              <div class="grid grid-cols-11 gap-6 p-3">
                <div class="col-span-5 flex flex-row justify-center capitalize">
                  {{ 'code city' | transloco }}
                </div>
                <div class="col-span-5 flex flex-row justify-center capitalize">
                  {{ 'city' | transloco }}
                </div>
              </div>
              <div
                *ngFor="let item of cities; let index = index; let last = last"
                class="grid grid-cols-11 gap-6 p-3"
              >
                <div class="col-span-5">
                  <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                    <input
                      [(ngModel)]="item.code"
                      matInput
                      name="code{{ index }}"
                      type="text"
                      disabled
                    />
                  </mat-form-field>
                </div>
                <div class="col-span-5">
                  <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                    <input
                      [(ngModel)]="item.cityName"
                      matInput
                      name="city{{ index }}"
                      type="text"
                      disabled
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #waiting>
        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
          {{ 'loading...' | transloco }}
        </div>
      </ng-template>
    </div>
  </form>
</div>
