<div class="flex flex-col flex-1 bg-card dark:bg-transparent" *ngIf="country">
  <form class="w-full" #myForm="ngForm" ngForm="ngForm">
    <!-- Header -->
    <div class="relative flex flex-col flex-0 sm:justify-between py-3 px-3 border-b">
      <!-- Loader -->
      <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
      <!-- Title -->
      <div class="hidden md:flex text-3xl font-extrabold tracking-tight">
        {{ 'Countries' | transloco }}
      </div>
      <!-- Actions -->
      <div class="flex flex-shrink-0 w-full items-center md:mt-3 sm:mt-0">
        <div class="w-3/4 sm:w-2/3 flex flex-row">
          <!-- delete user button -->
          <button
            class="mr-2 text-red-500"
            mat-flat-button
            (click)="deleteCountry(country)"
            [disabled]="loading"
            *appFeatures="[
              {
                code: featureCodes.countries,
                actions: [featureActions.delete]
              }
            ]"
          >
            <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
            <span class="ml-2 mr-1">{{ 'Delete' | transloco }}</span>
          </button>
        </div>
        <div class="flex justify-end w-1/4 sm:w-1/3 ml-1 sm:ml-0">
          <!-- cancel project button -->
          <button class="mr-2" mat-flat-button (click)="cancelEdit(myForm)" [disabled]="loading">
            <span class="ml-2 mr-1">{{ 'Cancel' | transloco }}</span>
          </button>
          <!-- save project button -->
          <button
            class="mr-2"
            mat-flat-button
            [color]="'primary'"
            type="submit"
            (click)="updateCountry(myForm)"
            [disabled]="loading"
            *appFeatures="[
              {
                code: featureCodes.countries,
                actions: [featureActions.update]
              }
            ]"
          >
            <span class="ml-2 mr-1">{{ 'Save' | transloco }}</span>
          </button>
        </div>
      </div>
    </div>
    <!-- Main -->
    <div class="flex flex-1 flex-col flex-auto overflow-hidden sm:overflow-y-auto">
      <ng-container *ngIf="!isLoading; else waiting">
        <div class="flex flex-col mb-6 w-full">
          <div class="grid sm:grid-cols-11 gap-6 p-3">
            <!-- code -->
            <div class="sm:col-span-5">
              <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                <mat-label class="capitalize">{{ 'code' | transloco }}</mat-label>
                <input
                  [(ngModel)]="country.code"
                  matInput
                  name="code"
                  type="text"
                  required
                  [disabled]="loading"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  myForm.controls['code'] &&
                  (myForm.controls['code'].dirty || myForm.submitted) &&
                  myForm.controls['code'].hasError('required')
                "
              >
                {{ 'This field is required' | transloco }}
              </mat-error>
            </div>
            <!-- label -->
            <div class="sm:col-span-5">
              <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                <mat-label class="capitalize">{{ 'Country' | transloco }}</mat-label>
                <input
                  [(ngModel)]="country.countryName"
                  matInput
                  name="countryName"
                  type="text"
                  required
                  [disabled]="loading"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  myForm.controls['countryName'] &&
                  (myForm.controls['countryName'].dirty || myForm.submitted) &&
                  myForm.controls['countryName'].hasError('required')
                "
              >
                {{ 'This field is required' | transloco }}
              </mat-error>
            </div>
          </div>
        </div>
        <div class="flex flex-1 flex-col flex-auto overflow-hidden sm:overflow-y-auto">
          <div class="flex flex-col mb-6 w-full bg-gray-100">
            <div class="flex text-2xl font-extrabold tracking-tight ml-4 capitalize"></div>
            <div class="grid grid-cols-1 min-w-full gap-1 min-w-full">
              <div class="grid grid-cols-11 gap-6 p-3">
                <div class="col-span-5 flex flex-row justify-center capitalize">
                  {{ 'code city' | transloco }}
                </div>
                <div class="col-span-5 flex flex-row justify-center capitalize">
                  {{ 'city' | transloco }}
                </div>
              </div>
              <div
                *ngFor="let item of cities; let index = index; let last = last; let first = first"
                class="grid grid-cols-11 gap-6 p-3"
              >
                <div class="col-span-5">
                  <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                    <input
                      [(ngModel)]="item.code"
                      matInput
                      name="code{{ index }}"
                      type="text"
                      [required]="cities.length > 1"
                      [disabled]="loading"
                    />
                  </mat-form-field>
                  <mat-error
                    *ngIf="
                      myForm.controls['codeCity'] &&
                      (myForm.controls['codeCity'].dirty || myForm.submitted) &&
                      myForm.controls['codeCity'].hasError('required')
                    "
                  >
                    {{ 'This field is required' | transloco }}
                  </mat-error>
                </div>
                <div class="col-span-5">
                  <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                    <input
                      [(ngModel)]="item.cityName"
                      matInput
                      name="city{{ index }}"
                      type="text"
                      [required]="cities.length > 1"
                      [disabled]="loading"
                    />
                  </mat-form-field>
                  <mat-error
                    *ngIf="
                      myForm.controls['cityName'] &&
                      (myForm.controls['cityName'].dirty || myForm.submitted) &&
                      myForm.controls['cityName'].hasError('required')
                    "
                  >
                    {{ 'This field is required' | transloco }}
                  </mat-error>
                </div>
                <div class="col-span-1 flex justify-center">
                  <button
                    *ngIf="!first"
                    mat-icon-button
                    type="button"
                    (click)="deleteRow(index, $event)"
                    [disabled]="loading"
                  >
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                  </button>
                  <button
                    *ngIf="last"
                    mat-icon-button
                    type="button"
                    (click)="addRow($event)"
                    [disabled]="loading"
                  >
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #waiting>
        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
          {{ 'loading...' | transloco }}
        </div>
      </ng-template>
    </div>
  </form>
</div>
