.company-grid {
  grid-template-columns: 50px 70px 150px auto 30px;

  @screen sm {
    grid-template-columns: 100px 100px 200px auto 30px;
  }

  @screen md {
    grid-template-columns: 100px 100px 200px auto 30px;
  }

  @screen lg {
    grid-template-columns: 100px 100px 300px auto 30px;
  }
}
