.user-grid {
  grid-template-columns: 50px 50px 50px auto  50px;

  @screen sm {
    grid-template-columns: 90px auto 80px 80px 120px 30px 30px;
  }

  @screen md {
    grid-template-columns: 35px auto 80px 90px 80px 120px 80px 50px;
  }

  @screen lg {
    grid-template-columns: 70px auto 270px 150px 130px 150px 50px 50px;
  }
}
